/*Label para el historial de los paquetes */
.totalPackages{
    top: 20%;
    left: 70%;
    position: absolute;
    z-index: 0;
    width: 300px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.logo{
    top:0%;
    left:25%;
    position: absolute;
    z-index: 1;
}
.mapa{
    top:20%;
    left:30%;
    position: absolute;
    z-index: 0;
}
/*Estilo para todo lo que esté dentro del body*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
/*Estilo para el botón de abrir pop up*/
.btn-abrir-popup{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    top: 30%;
    left: 72%;
    position: absolute;
    width: 200px;

}
/*Con esto se cambia la opacidad del botón cuando el cursor esté por encima*/
.btn-abrir-popup:hover {
    background: rgba(94,125,227, .9);
}
/*El overlay1 hace que la pantalla se oscurezca cuando aparece la ventana emergida*/
.overlay1 {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;

}
/*Se llama cuando se quiere que la ventana emergente sea visible*/
.overlay1.active {
    visibility: visible;
}
/*Es el cuadro blanco que aparece en la ventana emergente*/
.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

}
/*Botón para cerrar la ventana emergente*/
.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
/*Esto sirve cuando se pone por encima el cursor de la equiz, este se vuelve más oscuro*/
.popup .btn-cerrar-popup:hover {
    color: #000;
}
/*Label de "Completa los datos"*/
.popup h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
/*Estilo para los entrys*/
.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
/*Estilo para el botón de ver rutas disponibles*/
.popup form .btnAvailabeR {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
/*Sirve para se cambie la opacidad cuando el cursor se pase por encima*/
.popup form .btnAvailabeR:hover {
    background: rgba(94,125,227, .9);
}
.overlay2{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
   visibility: hidden;
}
.overlay2.active {
    visibility: visible;
}
.popup2{
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    z-index:1;
}
.popup2 .btn-cerrar-popup2 {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
.popup2 .btn-cerrar-popup2:hover {
    color: #000;
}
.popup2 h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.popup2 select{
    margin-bottom: 10px;
}
/*Estilo para el botón de ver rutas disponibles*/
.popup2 .btnSubmit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;

}
/*Sirve para se cambie la opacidad cuando el cursor se pase por encima*/
.popup2 .btnSubmit:hover {
    background: rgba(94,125,227, .9);
}
/*Estilo para el botón de abrir pop up*/
.btn-abrir-popup3{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    top: 40%;
    left:72%;
    position:absolute;
    width: 200px;
}
.btn-abrir-popup3:hover {
    background: rgba(94,125,227, .9);
}
/*El overlay1 hace que la pantalla se oscurezca cuando aparece la ventana emergida*/
.overlay3 {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
.overlay3.active {
    visibility: visible;
}
.popup3 {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

}
.popup3 .btn-cerrar-popup3 {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
/*Esto sirve cuando se pone por encima el cursor de la equiz, este se vuelve más oscuro*/
.popup3 .btn-cerrar-popup3:hover {
    color: #000;
}
.popup4 .btn-cerrar-popup4 {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
/*Esto sirve cuando se pone por encima el cursor de la equiz, este se vuelve más oscuro*/
.popup4 .btn-cerrar-popup4:hover {
    color: #000;
}
.popup4 {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 350px;
    top: 20%;
    left: 3%;
    position: absolute;
    visibility: hidden;
}
.popup4.active{
    visibility: visible;
}
.conCenters {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
/*El overlay1 hace que la pantalla se oscurezca cuando aparece la ventana emergida*/
.overlaySetCentros {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;

}
/*Se llama cuando se quiere que la ventana emergente sea visible*/
.overlaySetCentros.active {
    visibility: visible;
}
/*Es el cuadro blanco que aparece en la ventana emergente*/
.popupCentros {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

}
/*Label de "Completa los datos"*/
.popupCentros h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
 .btnSetCentros {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popupCentros .btn-cerrar-popupCentros {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
/*Esto sirve cuando se pone por encima el cursor de la equiz, este se vuelve más oscuro*/
.popupCentros .btn-cerrar-popupCentros:hover {
    color: #000;
}
.overlaySetCentros2{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;

}
.overlaySetCentros2.active {
    visibility: visible;
}
.popupCentros2 {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
}
.popupCentros2 h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.btnSetCentros2 {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    margin-bottom: 10px;
}
.popupCentros2 .btn-cerrar-popupCentros2 {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
.popupCentros2 .btn-cerrar-popupCentros2:hover {
    color: #000;
}
.popupCentros2 form input {
    width: 50%;
    margin-bottom: 20px;
    height: 32px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.btnAddCpopupCentros {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #5E7DE3;
    background: #E9E9E9;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    margin-bottom: 10px;
}
.overlayUltimate{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;

}
.overlayUltimate.active {
    visibility: visible;
}
.popupUltimate{
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
}
.popupUltimate .btn-cerrar-popupUltimate {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
.newName {
    width: 60%;
    margin-bottom: 20px;
    height: 32px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.newWeight {
    width: 60%;
    margin-bottom: 20px;
    height: 32px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popupUltimate .btnUltimate {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.btn-abrir-popupUltimate{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    width: 280px;
    top: 50%;
    left:72%;
    position:absolute;
    z-index: 0;
}
.btn-abrir-popupUltimate:hover {
    background: rgba(94,125,227, .9);
}